/* Style for tables
we want to:
- center it
*/

/* table {
    margin-left: auto !important;
    margin-right: auto !important;
    width: fit-content !important;
} */

div.cell.tag_scroll-output div.cell_output {
    max-width: 100%;
    overflow-x: auto;
}

div.cell.tag_scroll-output div.cell_output::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

div.cell.tag_scroll-output div.cell_output::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 0.25rem;
}

div.cell.tag_scroll-output div.cell_output::-webkit-scrollbar-thumb:hover {
    background: #a0a0a0;
}

@media print {
    div.cell.tag_scroll-output div.cell_output {
        max-height: unset;
        overflow-y: visible;
        max-width: unset;
        overflow-x: visible;
    }
}
